.map-container-wrap {
  display: flex;
  justify-content: left;
}
.App {
  min-height: 50vh;
  min-width: 50vw;
}

.map-container {
  height: 100%;
  width: 100%;
  max-width: 600px;
}

.infoWindowTitle {
  font-weight: bold;
}

.infoWindowData {
  text-align: justify;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  /* Adjust margin as needed */
}
