h3,
h4,
h5 {
  color: rgb(231, 107, 24);
}

.error-message {
  font-size: x-small;
}

.rating {
  margin-right: 20px;
  min-width: 90px;
}

.rating:hover {
  background-color: #212529 !important;
  cursor: default !important;
}

.background {
  background-color: rgb(253, 242, 202);
}

.textfield {
  background-color: white;
  margin-bottom: 8px;
}
